<div class="container w-full h-[100vh] mx-auto overflow-auto">
    <div class="container w-full p-4 my-5 md:p-8 md:my-0">
      <img src="./img/log.png" alt="" class="w-full">
    </div>
    <nav class="w-full hidden md:block">
        <div class="w-full flex justify-between items-center py-1 pl-0">
            <h2 class="item-link w-[90%] flex py-2.5 rounded transition duration-200 text-gray-400 justify-start items-center"><lucide-icon name="minus" class="pr-1.5"></lucide-icon>MI CUENTA</h2>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='establecimiento' routerLinkActive="active" class="item-link w-[90%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Hotel" class="pr-1.5"></lucide-icon>Establecimiento</a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='dashboard' routerLinkActive="active" class="item-link w-[90%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="UserRoundCog" class="pr-1.5"></lucide-icon>Usuarios y Seguridad</a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-0">
            <h2 class="item-link w-[90%] flex py-2.5 rounded transition duration-200 text-gray-400 justify-start items-center"><lucide-icon name="minus" class="pr-1.5"></lucide-icon>ALOJAMIENTO</h2>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='ventas' routerLinkActive="active" class="item-link w-[90%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="BedDouble" class="pr-1.5"></lucide-icon>Habitaciones y salas</a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='ventas' routerLinkActive="active" class="item-link w-[90%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Sparkles" class="pr-1.5"></lucide-icon>Mantenimiento</a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-0">
            <h2 class="item-link w-[90%] flex py-2.5 rounded transition duration-200 text-gray-400 justify-start items-center"><lucide-icon name="minus" class="pr-1.5"></lucide-icon>PERSONALIZACIÓN</h2>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='analytics' routerLinkActive="active" class="item-link w-[90%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Brush" class="pr-1.5"></lucide-icon>Personalización 1</a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='crm' routerLinkActive="active" class="item-link w-[90%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Brush" class="pr-1.5"></lucide-icon>Personalización 2</a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
    </nav>
    <!-- Mobile view -->
    <nav class="w-full block md:hidden">
        <div class="w-full flex justify-center items-center py-1 pl-0">
            <h2 class="item-link w-full flex py-2.5 rounded transition duration-200 text-gray-400 justify-center items-center"><lucide-icon name="minus" class=""></lucide-icon></h2>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='establecimiento' routerLinkActive="active" class="item-link w-[78%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Hotel" class="pr-1.5"></lucide-icon></a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='dashboard' routerLinkActive="active" class="item-link w-[78%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="UserRoundCog" class="pr-1.5"></lucide-icon></a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-center items-center py-1 pl-0">
            <h2 class="item-link w-full flex py-2.5 rounded transition duration-200 text-gray-400 justify-center items-center"><lucide-icon name="minus" class=""></lucide-icon></h2>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='ventas' routerLinkActive="active" class="item-link w-[78%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="BedDouble" class="pr-1.5"></lucide-icon></a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='ventas' routerLinkActive="active" class="item-link w-[78%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Sparkles" class="pr-1.5"></lucide-icon></a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-center items-center py-1 pl-0">
            <h2 class="item-link w-full flex py-2.5 rounded transition duration-200 text-gray-400 justify-center items-center"><lucide-icon name="minus" class=""></lucide-icon></h2>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='analytics' routerLinkActive="active" class="item-link w-[78%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Brush" class="pr-1.5"></lucide-icon></a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
        <div class="w-full flex justify-between items-center py-1 pl-4">
            <a routerLink='crm' routerLinkActive="active" class="item-link w-[78%] flex py-2.5 px-4 rounded transition duration-200 hover:bg-violet-100 hover:text-violet-500 text-gray-700 justify-start items-center"><lucide-icon name="Brush" class="pr-1.5"></lucide-icon></a>
            <div class="after-fil w-1 bg-transparent h-[45px] rounded-l-lg"></div>
        </div>
    </nav>
</div>